body {
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 70px;
    margin: 0;
    padding: 1em
}

header {
    background-color: black;
    color: white;
    padding: 5em;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: gray;
    /*border-bottom: 1px solid black;*/
    list-style-type: none;
    text-align: justify;
    min-width: 200px;
}

nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav ul li {
    padding: 14px;
    display: inline-block;
}

nav ul li p {
    color: white;
}

section {
    padding-top: 1.2em;
    padding-bottom: 20em;
}

section p1 {
    padding-left: 1em;
}

section h2 {
    padding-left: 1em;
}

#about {}

#projects {
 */black;
    background-color: white
}

#contact {}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    border-top: 1px solid lightgray;
    background-color: whitesmoke;
}

footer ul {
    float: left;
    display: inline;
    width: 100px;
    padding-top: 20px;
    margin: -5;
    list-style-type: none;
    width: 45%;
    text-align: right;
    min-width: 200px;
}

footer ul:after {
    content: '';
    display: inline-block;
}

footer ul li {
    display: inline-block;
}

footer div {
    padding: 14px;
    display: inline;    
    float: left;
    width: 40%
}
