body {
    font-family: monospace, helvetica, arial,  sans-serif;
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding-top: 4em;
}

h2 {
    font-family: helvetica, arial,  sans-serif;
}

header p {
    padding-bottom: 2em;
}

header {
    height: 600;
    font-family: "arial";
    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
    background-image: url(img/mit_darkest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:overlay;
}


nav ul {
    padding: 10px 0px 0px 0px;
    /*border-bottom: 1px solid black;*/
    list-style-type: none;
    align-items: stretch; /* Default */
    justify-content: space-between;
    min-width: 200px;
}

nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav ul li {
    padding: 14px 0px 14px 0px;
    display: inline-block;
    margin: 10px;
}

nav ul li p {
    color: white;
}

nav a {
    padding: 15px;
    margin: 10px 10px 10px 10px;
    color: white;
    border: 1px solid white;
    display: inline-block
}

section {
    padding-top: 1.2em;
    padding-bottom: 20em;
}

section p1 {
    padding-left: 1em;
}

section h2 {
    padding-left: 1em;
}

#about {}

#projects {
    background-color: white
}

#contact {}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    border-top: 1px solid lightgray;
    background-color: whitesmoke;
}

footer ul {
    float: left;
    display: inline;
    width: 100px;
    padding-top: 20px;
    margin: -5;
    list-style-type: none;
    width: 45%;
    text-align: center;
    min-width: 200px;
}

footer ul:after {
    content: '';
    display: inline-block;
}

footer ul li {
    display: inline-block;
}

footer div {
    padding: 14px;
    margin-top: -3;
    display: inline;
    text-align: center;
    float: left;
    width: 40%;
    font-family: monospace
}

img {
    margin-top: -13px;
    padding-right: 10px;
    width: 35px;
    height: 35px;
}

a {
    text-decoration: none;
}